version: "3.8"

services:
  builder:
    image: klakegg/hugo:0.111.3
    command: --verbose --baseUrl="https://iscsc.fr" --buildFuture
    environment:
      - HUGO_DESTINATION=/build/blog
      # For maximum backward compatibility with Hugo modules:
      - HUGO_ENV=production
      - HUGO_ENVIRONMENT=production
    volumes:
      - ./src:/src:rw
      - ./build/blog:/build/blog:rw

  blog:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./build/blog:/blog:rw

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
