.iscsc-subsection {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.iscsc-description {
    font-style: italic;
    font-size: 1rem;
}

.iscsc-resource {
    background-color: var(--code-block-background-color); /* Not great... TO BE CHANGED */
    display: inline-block;
    /*display: block;*/
    padding: 0.2rem 0.8rem;
    border-radius: 0.5em;
    margin-bottom: 0.8rem;
}

.iscsc-resource a {
    font-size: 0.8rem;
}

.iscsc-summary {
    font-style: italic;
    font-size: 0.9rem;
}
