{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ $tags_posts := where .Pages "Section" "posts" }}
        <h2 style="text-align: center;">Posts</h3>
        {{ range $tags_posts }}
            <li>
                <span class="title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </span>
                <span class="published">
                    <time class="pull-right post-list">{{ .Date | time.Format ":date_long" }}</time>
                </span>
            </li>
        {{ end }}
</ul>
<ul class="iscsc-entries">
    {{ $tags_resources := where .Pages "Section" "resources" }}
        <h2 style="text-align: center;">Resources</h3>
        {{ range $tags_resources }}
        <li>
            <span class="title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </span>
        </li>
        {{ end }}
</ul>
{{ end }}
